
# Elastic Beanstalk Files
.elasticbeanstalk/*

.git
.github
notebooks/*
scripts/*
__pycache__/*
data/messages_*

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

.env
.env.staging
.env.prod

docker-compose.yml
Dockerfile

terraform/.terraform/
*.tfstate
*.tfstate.backup
*.lock.hcl
*.lock.info
*.ipynb