python-dotenv==1.0.0
Flask==2.2.5
flask-cors==3.0.10
Flask-SQLAlchemy===3.0.3
Flask-Migrate==4.0.4
psycopg2-binary==2.9.6
Flask-Script==2.0.6
Flask-Caching==2.0.2
flasgger==0.9.5
gunicorn==20.1.0
pandas==2.0.1
nltk==3.8.1
scikit-learn==1.2.2
spacy==3.5.3
spacy-transformers==1.2.4
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cpu
keyphrase-vectorizers==0.0.11
langchain==0.1.10
langchain_openai==0.0.8
openai==1.13.3
tiktoken==0.6.0
https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.5.0/fr_core_news_md-3.5.0.tar.gz#egg=fr_core_news_md